html {
    font-family: 'Changa', sans-serif;
    color: rgb(240, 195, 113);
    background-color: rgb(48, 48, 48);
}
body {
    background-image: url(../images/nebula.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}
