html {
    font-family: 'Changa', sans-serif;
    color: rgb(240, 195, 113);
    background-color: rgb(48, 48, 48);
    font-size: 1em;
    line-height: 1.5em;
}
body {
    background-image: url(../images/nebula.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}
header{
    background-color: #e6a210;
    text-align: center;
    font-size: 2em;
    margin: 5%;
}
table{
    background-color: #000;
    font-size: 1.5em;
    margin: 100px auto;
    padding: 10px;
  }
  .row-name{
    font-size: 1.5em;
    border-top: none;
    border-left: none;
    border-right: 1% rgb(102, 102, 102) solid;
    color: rgb(0, 0, 0);
  }
  .col-name{
    color: rgb(0, 0, 0);
  }
  
  td{
    border-bottom: 1% rgb(0, 0, 0) solid;
    color:rgb(240, 195, 113);
    line-height: 1em;
  }